# usuall java & gradle files

*.class
.gradle
build/
bin/

.vscode/

output/
reports/

# usual dotnet files
obj/
.vs/
launchSettings.json

# graphics and metrics
*.pdf
*.csv

metamodels/*.emf

.project