<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Class -->
      <package
            uri="Class"
            class="class_.Class_Package"
            genModel="metamodels/Class.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Relational -->
      <package
            uri="Relational"
            class="relational_.Relational_Package"
            genModel="metamodels/Relational.genmodel"/>
   </extension>

</plugin>
