<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="c2r.version2.Queries2" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:c2r.version2.Queries2" id="c2r.version2.Queries2">
      <query-specification fqn="c2r.version2.makeInteger"/>
      <query-specification fqn="c2r.version2.fromDataType"/>
      <query-specification fqn="c2r.version2.fromClass"/>
      <query-specification fqn="c2r.version2.fromAttribute2Table"/>
      <query-specification fqn="c2r.version2.fromAttribute2Column"/>
      <query-specification fqn="c2r.version2.namedMap"/>
      <query-specification fqn="c2r.version2.postName"/>
      <query-specification fqn="c2r.version2.traceMapping"/>
      <query-specification fqn="c2r.version2.typeMapping"/>
      <query-specification fqn="c2r.version2.specifiedTypeMapping"/>
      <query-specification fqn="c2r.version2.sourcelessTrace"/>
    </group>
  </extension>
</plugin>
